body{
    background-color: black;
    color: white;
}

div{
    border-radius: 5px;
}

.left .top{
    border: 1px solid white;
    position: fixed;
    height: auto;
    width: 280px;
}
.left .top .home, .left .top .search{
    border: 1px solid white;
    height: 37px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.left .bottom{
    position: fixed;
    height: 90%;
    width: 200px;
}
.left .bottom .options{
    position: fixed;
}

footer{
    border: 1px solid white;
    height: 100px;
    width: 98%;
    position: fixed;
}